
.container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f5f5f5;
  }
.container header {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #333;
  }

  .container header img {
    width: 60px;
    height: 60px;
    margin-left: 1rem;
  }

  .container header div {
    display: flex;
    align-items: center;
  }

.container input {
    width: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }

.container button {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 20%;
    padding: 1rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;

    transition: filter 0.3s ease-in-out;
  }

  .container button:hover {
    filter: brightness(1.2);
  }

  .container button:active {
    filter: brightness(0.8);
  }

  .container button:focus {
    outline: none;
  }

  .container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .container button:disabled:hover {
    filter: none;
  }

  .container button:disabled:active {
    filter: none;
  }

  .container button:disabled:focus {
    outline: none;
  }

  .container button:disabled:focus {
    outline: none;
  }